.gallery__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0 3px;
}

.gallery__info {
  padding: 37px 15px 31px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 320px;

  @media (min-width: $tablet-width) {
    padding: 60px 45px 21px;
    gap: 30px;
    width: 768px;
  } 

  @media (min-width: $desktop-width) {
    padding: 123px 120px 46px;
    gap: 24px;
    width: 1440px;
  } 
}

.gallery__wrapper h2 {
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  color: $main-text-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
  } 

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
  }
}

.gallery__wrapper p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: $main-text-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;
    max-width: 420px;
  } 

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    max-width: 597px;
  }
}


.gallery__swiper {
  position: relative;
  overflow: hidden;
  width: 100%; 
}

.gallery__wrapper {
  position: relative;
}

.gallery .gallery-swiper__buttons {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 5px;
    position: absolute;
    justify-content: space-between;
    top: 27%;
    right: 48px;
  } 

  @media (min-width: $desktop-width) {
    display: none;
  } 
  
}

.gallery .gallery-swiper__button {
  background-color: #0266c1;
  color: #FFFFFF;
  width: 37px;
  height: 35px;
  left: 4px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.gallery .gallery-swiper__button--next {
  width: 37px;
  height: 35px;
  position: relative;

  &::after {
  content: "";
  width: 13px;
  height: 9px;
  transform: rotate(180deg);
  mask-image: url("/__spritemap#sprite-long-arrow-icon-view");
  background-color: #ffffff;
  background-repeat: no-repeat;
  z-index: 10;
  position: absolute;
}
}



.gallery .gallery-swiper__button--prev {
  width: 37px;
  height: 35px;
  position: relative;

  &::after {
    content: "";
    width: 13px;
    height: 9px;
    mask-image: url("/__spritemap#sprite-long-arrow-icon-view");
    background-color: #ffffff;
    background-repeat: no-repeat;
    z-index: 10;
    position: absolute;
  }
}

.gallery-swiper .swiper__wrapper .gallery-slide {
  @media (min-width: $desktop-width) {
    margin-right: 0;
  } 
}