.header {
  background-color: $background-dark;
  color: $on-dark-text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  padding: 15px;
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 30px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 103px;
    align-items: flex-start;
  }
}


