.hero__swiper {
  position: relative;
  overflow: hidden; /* Прячет всё, что выходит за пределы */
  width: 100%; /* Убедитесь, что контейнер имеет нужную ширину */
  height: 400px; /* Установите фиксированную высоту или используйте auto */
}