.hero-slide {
  gap: 20px; 
  
  @media (min-width: $tablet-width) {
    gap: 25px;
  }

  @media (min-width: $desktop-width) {
    gap: 15px;
    min-height: 800px;
  }
}

.hero-slide__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 568px;
  padding: 15px 15px 30px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    padding: 30px 45px 30px;
    min-height: 973px;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-start;
    justify-content: flex-end;
    padding: 81px 120px;
    min-height: 800px;
  }
  
}

.hero-slide__info { 
  width: 290px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  z-index: 100;

  @media (min-width: $tablet-width) {
    width: 678px;
    gap: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 22px;
  }
}

.hero-slide__info h2 {
  font-size: 26px;
  line-height: 26px;
  font-weight: 800;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 56px;
  }

  @media (min-width: $desktop-width) {
    font-size: 77px;
    line-height: 77px;
    text-align: left;
  }
}

.hero-slide__info > p {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  margin: 0 0 45px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 24px;
    margin: 0 0 23px;
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    max-width: 420px;
    margin: 0 0 16px;
  }
}

.hero-slide__button {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  font-weight: 500;
  min-height: 56px;
  min-width: 180px;
  background-color: $button;
  border: none;
  padding: 20px;
}

.hero-slide--kavkaz {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $on-dark-text-color;
  z-index: 1;

  background-image: image-set(
    url("../../img/hero-kavkaz-mobile@1x.webp") 1x, 
    url("../../img/hero-kavkaz-mobile@2x.webp") 2x, 
    url("../../img/hero-kavkaz-mobile@1x.jpg") 1x, 
    url("../../img/hero-kavkaz-mobile@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);
    top: 0;
    left: 0;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    font-size: 25px;
    line-height: 25px;
    min-height: 1034px;
    background-image: image-set(
    url("../../img/hero-kavkaz-tablet@1x.webp") 1x, 
    url("../../img/hero-kavkaz-tablet@2x.webp") 2x, 
    url("../../img/hero-kavkaz-tablet@1x.jpg") 1x, 
    url("../../img/hero-kavkaz-tablet@2x.jpg") 2x
  );
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    font-size: 35px;
    line-height: 35px;
    min-height: 800px;
    background-image: image-set(
    url("../../img/hero-kavkaz-desktop@1x.webp") 1x, 
    url("../../img/hero-kavkaz-desktop@2x.webp") 2x, 
    url("../../img/hero-kavkaz-desktop@1x.jpg") 1x, 
    url("../../img/hero-kavkaz-desktop@2x.jpg") 2x
  );
  }
}

.hero-slide--kamchatka {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $on-dark-text-color;
  z-index: 1;

  background-image: image-set(
    url("../../img/hero-kamchatka-mobile@1x.webp") 1x, 
    url("../../img/hero-kamchatka-mobile@2x.webp") 2x, 
    url("../../img/hero-kamchatka-mobile@1x.jpg") 1x, 
    url("../../img/hero-kamchatka-mobile@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);
    top: 0;
    left: 0;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    font-size: 25px;
    line-height: 25px;
    min-height: 1034px;
    background-image: image-set(
    url("../../img/hero-kamchatka-tablet@1x.webp") 1x, 
    url("../../img/hero-kamchatka-tablet@2x.webp") 2x, 
    url("../../img/hero-kamchatka-tablet@1x.jpg") 1x, 
    url("../../img/hero-kamchatka-tablet@2x.jpg") 2x
  );
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    font-size: 35px;
    line-height: 35px;
    min-height: 800px;
    background-image: image-set(
    url("../../img/hero-kamchatka-desktop@1x.webp") 1x, 
    url("../../img/hero-kamchatka-desktop@2x.webp") 2x, 
    url("../../img/hero-kamchatka-desktop@1x.jpg") 1x, 
    url("../../img/hero-kamchatka-desktop@2x.jpg") 2x
  );
  }
}


.hero-slide--altay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $on-dark-text-color;
  z-index: 1;

  background-image: image-set(
    url("../../img/hero-altay-mobile@1x.webp") 1x, 
    url("../../img/hero-altay-mobile@2x.webp") 2x, 
    url("../../img/hero-altay-mobile@1x.jpg") 1x, 
    url("../../img/hero-altay-mobile@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-image: linear-gradient(112.1deg, rgba(15, 20, 41, 0.33) 17.23%, rgba(15, 20, 41, 0) 94.93%);
    top: 0;
    left: 0;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    font-size: 25px;
    line-height: 25px;
    min-height: 1034px;
    background-image: image-set(
    url("../../img/hero-altay-tablet@1x.webp") 1x, 
    url("../../img/hero-altay-tablet@2x.webp") 2x, 
    url("../../img/hero-altay-tablet@1x.jpg") 1x, 
    url("../../img/hero-altay-tablet@2x.jpg") 2x
  );
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    font-size: 35px;
    line-height: 35px;
    min-height: 800px;
    background-image: image-set(
    url("../../img/hero-altay-desktop@1x.webp") 1x, 
    url("../../img/hero-altay-desktop@2x.webp") 2x, 
    url("../../img/hero-altay-desktop@1x.jpg") 1x, 
    url("../../img/hero-altay-desktop@2x.jpg") 2x
  );
  }
}


.hero-slide__features {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 113px;
    margin-left: 1px;
    font-weight: 300;
  }
}

.hero-slide__feature {
  outline: 1px solid rgb(255, 255, 255, 0.5);
  padding: 13px 20px 13px 40px;          
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    top: 50%;
    left: 20px;
    translate: 0 -6px;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-color: #ffffff;
  }
}

.hero-slide__feature--nights {
  &::before {
  mask-image: url("/__spritemap#sprite-moon-icon-view");
  }
}


.hero-slide__feature--difficulty {
  &::before {
  mask-image: url("/__spritemap#sprite-level-icon-view");
  }
}