.hero__swiper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 568px; 

  @media (min-width: $tablet-width) {
    min-height: 1034px;
  } 

  @media (min-width: $desktop-width) {
    min-height: 800px;
  }
}

.hero__swiper-pagination {
  --swiper-pagination-bottom: 40px;
}

.hero__swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.hero__swiper-pagination .swiper-pagination-bullet {
  outline: 1px solid #ffffff;
  width: 16px;
  height: 16px;
  z-index: 100;
  --swiper-pagination-bullet-horizontal-gap: 10px;

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
    --swiper-pagination-bullet-horizontal-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 77px;
    line-height: 77px;
    text-align: left;
  }
}