.instructors-slide__image-container {
  width: 260px;
  height: 200px;
  overflow: hidden;
  display: flex; 
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: auto;
  } 

  @media (min-width: $desktop-width) {
    overflow: unset;
    height: 200px;
  } 

 
}

.instructors-slide__image {
  object-fit: cover;
  display: block;

  @media (min-width: $tablet-width) {
    width: 185px;
  height: 200px;
  object-position: -33px 0px;
  } 

  @media (min-width: $desktop-width) {
    width: 255px;
    height: 200px;
  object-position: 0 0;
  } 
  
}



.instructors-slide__content blockquote {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.instructors-slide__content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.instructors-slide__content cite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  max-width: 140px;
  position: relative;
}

.instructors-slide__link {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: -100%;
  translate: -20px 0;
  outline: 1px solid rgb(45, 56, 63, 0.3);

  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-color: $main-text-color;
    mask-image: url("/__spritemap#sprite-vk-icon-view");
    mask-size: 14px 8px;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
  }

  @media (min-width: $tablet-width) {
    right: -45%;
  } 

  @media (min-width: $desktop-width) {
    right: -98%;
  } 
}


.instructors-slide__link:hover {
  outline: 1px solid #1c3374;
}

.instructors-slide__link:focus {
  outline: none;
}

.instructors-slide__link:active {
  background-color: #0266C1;
  outline: none;
    &::after {
    background-color: #ffffff;
  }
}

.instructors-slide__link:disabled {
  background-color: #ffffff;
  outline: none;
    &::after {
    background-color: #999999;
  }
}