.instructors__header {
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  color: $main-text-color;
  margin: 4px 0 21px;
  align-self: flex-start;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
    margin: 4px 0 37px;
  } 

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 16px;
  }
}

.instructors {
  position: relative;
}

.instructors .training-swiper-container__buttons {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 4px;
    position: absolute;
    justify-content: space-between;
    top: 22px;
    right: 4px;
  } 

  @media (min-width: $desktop-width) {
    top:  18px;
  } 
}

.instructors .training-swiper-container__button {
  background-color: #0266c1;
  color: #FFFFFF;
  width: 37px;
  height: 35px;
  left: 4px;
  display: flex;
  justify-content: center; 
  align-items: center;

  &:hover {
    background-color: #ffffff;
    outline: 1px solid #1c3374;
  }
  
  &:focus {
    background-color: #ffffff;
    outline: none;
  }

  &:active {
    background-color: #1c3374;
  }
  
  
}

.instructors .training-swiper-container__button--next {
  width: 37px;
  height: 35px;
  position: relative;

  &::after {
  content: "";
  width: 13px;
  height: 9px;
  transform: rotate(180deg);
  mask-image: url("/__spritemap#sprite-long-arrow-icon-view");
  background-color: #ffffff;
  background-repeat: no-repeat;
  z-index: 10;
  position: absolute;
}
}



.instructors .training-swiper-container__button--prev {
  width: 37px;
  height: 35px;
  position: relative;

  &::after {
    content: "";
    width: 13px;
    height: 9px;
    mask-image: url("/__spritemap#sprite-long-arrow-icon-view");
    background-color: #ffffff;
    background-repeat: no-repeat;
    z-index: 10;
    position: absolute;
  }
}

.instructors .training-swiper-container__button:hover {
  &::after {
    background-color: #1c3374;
  }
}

.instructors .training-swiper-container__button:focus {
  &::after {
    background-color: #1c3374;
  }
}

.instructors .swiper-button-prev.swiper-button-disabled,
.instructors .swiper-button-next.swiper-button-disabled {
  opacity: 100%;
  background-color: #999999;
}