.page-body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  color: $main-text-color;
  font-family: $content-font;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
