.page-body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  color: $main-text-color;
  font-family: $content-font;
  font-size: 12px;
  font-weight: 400;
  position: relative;
  width: 100%;


  &::after {
    content: "";
    position: absolute;
    width: 149px;
    height: 595px;
    top: 679px;
    right: 0;
    z-index: -1;
    background-image: image-set(
    url("../../img/tours-background-mobile@1x.webp") 1x, 
    url("../../img/tours-background-mobile@2x.webp") 2x, 
    url("../../img/tours-background-mobile@1x.jpg") 1x, 
    url("../../img/tours-background-mobile@2x.jpg") 2x
  );

  background-repeat: no-repeat;
  background-size: 150px 595px;
  

  @media (min-width: $tablet-width) {
    width: 422px;
    height: 1630px;
    top: 1024px;
    background-size: 422px 1630px;
    background-image: image-set(
    url("../../img/tours-background-tablet@1x.webp") 1x, 
    url("../../img/tours-background-tablet@2x.webp") 2x, 
    url("../../img/tours-background-tablet@1x.jpg") 1x, 
    url("../../img/tours-background-tablet@2x.jpg") 2x
  );
  }

  @media (min-width: $desktop-width) {
    width: 600px;
    height: 1630px;
    top: 800px;
    background-size: 600px 1630px;
    background-image: image-set(
    url("../../img/tours-background-desktop@1x.webp") 1x, 
    url("../../img/tours-background-desktop@2x.webp") 2x, 
    url("../../img/tours-background-desktop@1x.jpg") 1x, 
    url("../../img/tours-background-desktop@2x.jpg") 2x
  );
  }
  }
}
