.process {
  display: flex;
  flex-direction: column;
  gap: 25px; 

  @media (min-width: $tablet-width) {
    gap: 98px;
  } 

  @media (min-width: $desktop-width) {
    gap: 23px;
  } 
}

.process__header {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 18px;
  } 

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 21px;
  }
}

.process__list {
  padding: 0 0 0 29px;
  max-width: 275px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 88%;
    top: 6%;
    left: 6px;
    background-color: #0266c1;

    @media (min-width: $tablet-width) {
      display: none;
    } 

    @media (min-width: $desktop-width) {
      display: initial;
      height: 2px;
      width: 88%;
      left: 15px;
      bottom: 0;
      top: auto;
    } 
  }


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-areas: "map mountain" 
    "boot tree";
    grid-template-columns: 232px 272px;
    gap: 104px 174px;
    padding: 0;
    width: 100%;
    max-width: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    gap: 0;
    min-height: 85px;
    max-width: none;

  } 
}

.process__item {
  padding: 0 0 0 34px;
  position: relative;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    left: -30px;
    top: 50%;
    translate: 1px -50%;
    background-color: #0266c1;

    @media (min-width: $tablet-width) {
      display: none;
    } 

    @media (min-width: $desktop-width) {
      display: initial;
      left: 10px;
      bottom: -13px;
      top: auto;
    } 
  }

  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background-color: $main-text-color;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    mask-size: 25px 25px;
    mask-repeat: no-repeat;

    @media (min-width: $desktop-width) {
      top: 2px;
    left: 9px;
    
    } 

    
  }

  @media (min-width: $tablet-width) {
    top: 3px;
    font-size: 14px;
    line-height: 22px; 
  } 
  
  @media (min-width: $desktop-width) {
    max-width: 254px;
    font-size: 16px;
    line-height: 24px;
    padding: 0 0 0 44px;
  
  } 
}


.process__item--map {
  grid-area: map;
  &::after {
    mask-image: url("/__spritemap#sprite-map-view");
  }
}

.process__item--mountain {
  grid-area: mountain;

  @media (min-width: $tablet-width) {
    padding: 0 9px 0 35px;
  } 

  @media (min-width: $desktop-width) {
    padding: 0px 17px 0 43px;
  } 

  
  &::after {
    mask-image: url("/__spritemap#sprite-mountain-view");
  }
}

.process__item--tree {
  grid-area: tree;
  @media (min-width: $tablet-width) {
    padding: 0 9px 0 35px;
  } 
  @media (min-width: $desktop-width) {
    padding: 0 6px 0 44px;
  } 
  &::after {
    mask-image: url("/__spritemap#sprite-tree-view");
  }
}

.process__item--boot {
  grid-area: boot;
  &::after {
    mask-image: url("/__spritemap#sprite-boot-view");
  }
}