.reviews__wrapper {
  display: flex;
  flex-direction: column;
  padding: 36px 15px 20px;
  width: 320px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 60px 45px 40px;
    gap: 35px;
    width: 768px;
  } 

  @media (min-width: $desktop-width) {
    gap: 0;
    padding: 145px 120px 87px;
    width: 1440px;
  } 
}

.reviews__header {
  font-size: 22px;
  line-height: 22px;
  font-weight: 800;
  color: $main-text-color;
  margin: 0 0 32px;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
    margin: 0;
  } 

  @media (min-width: $desktop-width) {
    font-size: 35px;
    line-height: 35px;
    margin: 0 0 38px;
  }
}


.reviews__wrapper {
  position: relative;
}

.reviews .reviews-swiper__buttons {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    width: auto;
    gap: 4px;
    position: absolute;
    justify-content: space-between;
    top: 82px;
    right: 49px;
  } 
  
}

.reviews .reviews-swiper__button {
  background-color: #0266c1;
  color: #FFFFFF;
  width: 37px;
  height: 35px;
  left: 4px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.reviews .reviews-swiper__button--next {
  width: 37px;
  height: 35px;
  position: relative;

  &::after {
  content: "";
  width: 13px;
  height: 9px;
  transform: rotate(180deg);
  mask-image: url("/__spritemap#sprite-long-arrow-icon-view");
  background-color: #ffffff;
  background-repeat: no-repeat;
  z-index: 10;
  position: absolute;
}
}



.reviews .reviews-swiper__button--prev {
  width: 37px;
  height: 35px;
  position: relative;
  background-color: #999999;

  &::after {
    content: "";
    width: 13px;
    height: 9px;
    mask-image: url("/__spritemap#sprite-long-arrow-icon-view");
    background-color: #ffffff;
    background-repeat: no-repeat;
    z-index: 10;
    position: absolute;
  }
}

