/* form outline */
$form-base-border: 1px solid rgba(2, 102, 193, 0.102);
$form-hover-border: 1px solid #0266c1;
$form-focus-border: 1px solid #2d383f;
$form-disabled-border: 1px solid #999999;
$form-error: #ff121f;